# Flask settings
SECRET_KEY=
DATABASE_URL=
FLASK_APP=wsgi.py
FLASK_DEBUG=0

# Optional API credentials
# If provided these will be saved to the superadmin account
# the first time the application starts.
OPENAI_API_KEY=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
COINBASE_API_KEY=ab03112d-1135-4388-b78c-be7b6614e715
COINBASE_API_SECRET=HQIO7PzEu5SozCqWPqCYQBupVqHBWdgEy8+wBUyDd0GcBkgem+zh1e9BxuixcDnMXjOKtdG/UICfIYUPt3eFFA==


COINBASE_API_PASSPHRASE=
SCHWAB_CLIENT_ID=kLgjtAjFRFsdGjm3ZUuGTWPEHmVtwQoX
SCHWAB_CLIENT_SECRET=tTNTKFos4LKybsiG
SCHWAB_REDIRECT_URI=https://www.arbion.ai/oauth_callback/schwab
SCHWAB_ACCESS_TOKEN=
SCHWAB_REFRESH_TOKEN=

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Simulation mode
SIMULATION_MODE=false
CONFIDENCE_THRESHOLD=0.7

# Sentry
SENTRY_DSN=

# Superadmin account (optional)
SUPERADMIN_EMAIL=nvm427@gmail.com
SUPERADMIN_PASSWORD=$@MP$0n9174201989

# Session security
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=Lax
